.question-card__button {
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 40px;
  background-color: var(--accent-color);
  padding: 5px 20px;
  color: white;
  box-shadow: 5px 8px 5px gray;
}

.question-card__button:hover {
  background-color: var(--main-color);
  color: black;
}
