header {
  font-size: 1rem;
  border-bottom: 5px solid var(--border-color);
  width: 100vw;
  text-align: center;
  padding: 30px;
  color: var(--accent-color);
  background-color: var(--main-color);
  position: fixed;
  z-index: 1;
}
