.footer-navbar {
  text-align: center;
  border: 5px solid var(--border-color);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  color: var(--accent-color);
  background-color: var(--main-color);
  position: fixed;
  padding: 20px;
  bottom: 0;
  z-index: 1;
}
.footer-navbar-link {
  text-align: center;
  
}

.footer-navbar-image {
  width: 80px;
}
